body{
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}

h1, h2{
	color: #007e7e;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 130%;
}

p.guarantee{
background-color: #a7cece;
border-color: #FFFFFF;
border-width: 2px;
border-style: dashed;
font-family: Georgia, "Times New Roman", Times, serif;
font-style: italic; 
line-height: 1.9em;
color: #444444;
padding: 25px;
padding-left: 80px;
margin-left: 30px;
background-image: url(images/star.gif);
background-repeat: no-repeat;
background-position: top left;
}
